@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font_base;
  src: url("/fonts/fonnts.com-Aeonik-Regular.ttf");
}

@font-face {
  font-family: font_base_bold;
  src: url("/fonts/fonnts.com-Aeonik-Bold.ttf");
}

.base-bold {
  font-family: font_base_bold;
}

body {
  font-family: font_base;
}

.transition-width {
  transition-property: width;
}
